<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <Link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="Egk0BJmfa8eq5pcYweh6nhrew3a2.jpeg" />
    </div>

    {{>footer}}
</body>

</html>